target/
!.mvn/wrapper/maven-wrapper.jar

.mvn/wrapper/maven-wrapper.jar

.idea/
*.iws
*.iml
*.ipr

.vscode/
.classpath
.project
.settings/
.springBeans
.sts4-cache

.DS_Store

*.log
logs/

.env
application-local.properties

HELP.md